# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/

# MyPy, Ruff, Pytest caches
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Python Tooling
.python-version

# Local Databases (ChromaDB)
.db/
.chroma/
*.db
*.sqlite3
